{% with "&words="|add:criteria.words|add:"&speaker="|add:criteria.speaker|add:"&source="|add:criteria.source|add:"&pageSize="|add:page_size as existing %}
<nav class="pagination" aria-label="pagination">
{% if db_page.has_previous %}
	<a href="?page={{db_page.previous_page_number}}{{existing}}">Previous page</a>
{% endif %}
{% for page_num in page_range %}
	{% if page_num == "…" %}
	<span>…</span>
	{% else %}
	<a href="?page={{page_num}}{{existing}}" class="pagination-page" {% if page_num == db_page.number %} id="current-page" aria-current="page" {% endif %}>
		{{page_num}}
	</a>
	{% endif %}
{% endfor %}
{% if db_page.has_next %}
	<a href="?page={{db_page.next_page_number}}{{existing}}">Next page</a>
{% endif %}
</nav>
{% endwith %}