<form id="search-form" class="long-form" method="GET" action="{% url 'hilichurlian_database:filter_strict' %}">
<fieldset>
	<legend>Search for specific entries (fields may be left blank):</legend>
	<input type="hidden" name="newSearch" value="yes" />
	<div class="form-field">
		<label for="search-words">Hilichurlian words</label>
		<input type="text" id="search-words" name="words" value="{{criteria.words|default:''}}" />
	</div>
	<div class="form-field subfield">
		<input type="checkbox" id="search-words-similar" name="wordsSimilar" />
		<label for="search-words-similar">Also search for similar words</label>
	</div>
	<div class="form-field">
		<label for="search-speaker">Speaker (case sensitive)</label>
		<input type="text" id="search-speaker" name="speaker" value="{{criteria.speaker|default:''}}" />
	</div>
	<div class="form-field">
		<label for="search-source">Source URL (case sensitive)</label>
		<input type="text" id="search-source" name="source" value="{{criteria.source|default:''}}" />
	</div>
	<button type="submit" value="search">Search</button>
</fieldset>
</form>