{% include "hilichurlian_database/elements/search-fields.html" %}

<h2>Database Entries</h2>

<form id="page-size" method="GET" action="{% if criteria %}{% url 'hilichurlian_database:filter' %}{% else %}{% url 'hilichurlian_database:view' %}{% endif %}">
	{% for criterion, value in criteria.items %}
	<input type="hidden" name="{{criterion}}" value="{{value|default:''}}" />
	{% endfor %}
	<label for="custom-page-size">Number of entries per page:</label>
	<input type="text" name="pageSize" id="custom-page-size" />
	<button type="submit">Change page size</button>
</form>

{% include "hilichurlian_database/elements/pagination.html" %}

<table>
	<tr>
		<th scope="col" class="cell-wide">
			Sentence or phrase
		</th>
		<th scope="col" class="cell-narrow">
			Speaker
		</th>
		<th scope="col" class="cell-wide">
			Translation
		</th>
		<th scope="col" class="cell-narrow">
			Translation source
		</th>
		<th scope="col" class="cell-wide">
			Context
		</th>
		<th scope="col" class="cell-narrow">
			Source
		</th>
	</tr>
	{% for utt in db_page %}
	<tr class="row-{% cycle 'light' 'lighter' %}">
		<th scope="row"><div class="long-text">
			<a href="{% url 'hilichurlian_database:utterance' utt.id %}">{{utt.utterance}}</a>
		</div></th>
		<td><div class="long-text">
			{{utt.speaker.name}}
		</div></td>
		<td><div class="long-text">
			{{utt.translation}}
		</div></td>
		<td><div class="long-text">
			{{utt.translation_source}}
		</div></td>
		<td><div class="long-text">
			{{utt.context|linebreaks}}
		</div></td>
		<td><div class="long-text">
			<a href="{{utt.source.url}}">{{utt.source}}</a> (Version {{utt.source.version}})
		</div></td>
	</tr>
	{% empty %}
	<tr class="row-light"><td colspan="6">No results</td></tr>
	{% endfor %}
</table>

{% include "hilichurlian_database/elements/pagination-bottom.html" %}