:root {
	--dark-blue: darkblue; /* #00008B */
	--dark-green: darkgreen; /* #006400 */
	--dark-gray: #333;
	--dark-red: darkred; /* #8B0000 */
	--gray: #ccc;
	--light-blue: #ADB3E6;
	--light-green: lightgreen; /* #90EE90 */
	--light-gray: #ddd;
	--lighter-gray: #eee;
	--light-red: lightcoral; /* #F08080 */
}

/* ALL PAGES */

body {
	background-color: var(--light-gray);
}

.information {
	background-color: var(--light-blue);
	color: var(--dark-blue);
	border-color: var(--dark-blue);
}

.success {
	background-color: var(--light-green);
	color: var(--dark-green);
	border-color: var(--dark-green);
}

.error {
	background-color: var(--light-red);
	color: var(--dark-red);
	border-color: var(--dark-red);
}

ul.messages, div.messages {
	padding-left: 0;
	margin: 0.5rem;
}

ul.messages li, div.messages {
	list-style: none;
	padding: 0.5rem 1rem;
	border: 0.2rem solid;
	border-radius: 0.5rem;
}

nav {
	text-align: center;
}

nav a {
	display: inline-block;
	width: 7rem;
	text-align: center;
}

footer img, footer .text {
	display: inline-block;
	vertical-align: middle;
}

footer img {
	max-width: 25%;
}

footer .text {
	max-width: 70%;
}

/* DATABASE TABLE NAV */

nav.pagination a {
	display: inline-block;
	text-align: center;
	margin: 0;
	padding: 0.5rem 1rem;
	width: auto;
}

a.pagination-page {
	background-color: var(--lighter-gray);
	border: 1px solid var(--dark-gray);
}

#current-page {
	background-color: var(--dark-gray);
	border-color: var(--light-gray);
	color: var(--light-gray)
}

/* DATABASE TABLE */

table, th, td {
	border: 1px solid black;
}

table {
	background: black;
}

th, td {
	background-color: var(--light-gray);
	padding: 0.4rem;
}

th {
	background-color: var(--dark-gray);
	color: white;
}

tr.row-light td {
	background-color: var(--gray);
}

tr.row-lighter td {
	background-color: var(--lighter-gray);
}

/* 3 of these per row */
.cell-wide {
	width: 20%;
}

/* 3 of these per row */
.cell-narrow {
	width: 10%;
}

/* 1 per row (context); class for <div> within <td>;
 * doesn't work as a class for <td> on Firefox */
.long-text {
	overflow: auto;
	max-height: 4rem;
}

/* ON SUBMIT PAGE */

.form-field {
	margin: 0.5rem auto;
}

label {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	min-width: 30%;
}

input[type="text"], textarea {
	width: 65%;
}

.field-required {
	font-weight: bold;
}

.field-required:after {
	content: " (required)";
}

/* MEDIA QUERIES */

/* small screens/large text */
@media (max-width: 35rem) {
	label {
		display: block;
		text-align: left;
	}

	input[type="text"], textarea {
		width: 100%;
	}

	footer img, footer .text {
		max-width: 100%;
	}
}

/* large screens/small text */
@media (min-width: 60rem) {
	label {
		min-width: 16%;
	}

	input[type="text"], textarea {
		width: 70%;
	}
}