:root {
	--dark-blue: darkblue; /* #00008B */
	--dark-green: darkgreen; /* #006400 */
	--dark-gray: #333;
	--dark-red: darkred; /* #8B0000 */
	--gray: #ccc;
	--light-blue: #ADB3E6;
	--light-green: lightgreen; /* #90EE90 */
	--light-gray: #ddd;
	--lighter-gray: #eee;
	--light-red: lightcoral; /* #F08080 */
}

/* ALL PAGES */

body {
	background-color: var(--light-gray);
	font-family: Calibri, 'Segoe UI', Arial, Helvetica, sans-serif;
	margin: 0 auto;
}

a.skip-to#skip-to-main {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

a.skip-to#skip-to-main:focus {
	top: 1px;
	left: 1px;
	width: fit-content;
	height: fit-content;
	margin: 1px;
	padding: 0.5rem;
	border: 0.2rem solid;
	border-radius: 0.5rem;
	color: var(--dark-blue);
	background-color: var(--light-blue);
}

a.skip-to#skip-to-main:active {
	color: var(--dark-green);
	background-color: var(--light-green);
}

h1, h2 {
	text-align: center;
}

h3, h4 {
	margin-bottom: 0;
}

main {
	margin: 0.5rem 1rem;
}

.info, .information {
	background-color: var(--light-blue);
	color: var(--dark-blue);
	border-color: var(--dark-blue);
}

.success {
	background-color: var(--light-green);
	color: var(--dark-green);
	border-color: var(--dark-green);
}

.error {
	background-color: var(--light-red);
	color: var(--dark-red);
	border-color: var(--dark-red);
}

ul {
	margin-top: 0;
}

ul.messages, div.messages {
	padding-left: 0;
	margin: 0.5rem;
}

ul.messages li, div.messages {
	list-style: none;
	padding: 0.5rem 1rem;
	border: 0.2rem solid;
	border-radius: 0.5rem;
	margin: 0.5rem 0;
}

nav {
	text-align: center;
	background-color: var(--gray);
}

nav a {
	display: inline-block;
	min-width: 3rem;
	text-align: center;
	padding: 0.5rem 1rem;
}

nav a:hover {
	background-color: var(--dark-gray);
	color: white;
}

nav a:active {
	background-color: var(--dark-blue);
	color: var(--light-blue);
}

footer {
	padding: 0.5rem 1rem;
	background-color: var(--gray);
}

footer img, footer .text {
	display: inline-block;
	vertical-align: middle;
}

footer img {
	max-width: 25%;
	border: 2px black solid;
}

footer .text {
	max-width: 70%;
}

/* DATABASE TABLE NAV */

.pagination {
	margin: 1rem auto;
}

nav.pagination a, nav.pagination span {
	display: inline-block;
	text-align: center;
	margin: 0;
	padding: 0.5rem 1rem;
	width: auto;
}

a.pagination-page {
	background-color: var(--lighter-gray);
	border: 1px solid var(--dark-gray);
}

#current-page {
	background-color: var(--dark-gray);
	border-color: var(--light-gray);
	color: var(--light-gray)
}

/* DATABASE TABLE */

table, th, td {
	border: 1px solid black;
}

table {
	background: black;
	border-radius: 0.3rem;
}

th, td {
	background-color: var(--light-gray);
	padding: 0.4rem;
}

th[scope="col"] {
	background-color: var(--dark-gray);
	color: white;
}

th[scope="row"] {
	text-align: left;
}

tr.row-light td, tr.row-light th {
	background-color: var(--gray);
}

tr.row-lighter td, tr.row-lighter th {
	background-color: var(--lighter-gray);
}

/* 3 of these per row */
.cell-wide {
	width: 20%;
}

/* 3 of these per row */
.cell-narrow {
	width: 10%;
}

/* class for <div> within <td> or <th> (doesn't work as a class for <td> on Firefox) */
.long-text {
	overflow: auto;
	max-height: 4rem;
}

/* VIEW ALL CRITERIA/SELECT AND INDIVIDUAL ENTRY PAGES */

.container.flex {
	display: flex;
	flex-wrap: wrap;
}

.flex-center {
	justify-content: center;
}

.container.flex.invisible-container {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
}

.flex h3, .flex h4 {
	margin-top: 0.75rem;
}

.flex.thin, .flex.medium, .flex.wide {
	margin: 0.5rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-bottom: 0.5rem;
	background: var(--gray);
	border: 0.1rem solid var(--dark-gray);
	border-radius: 0.3rem;
}

.flex.thin {
	min-width: 11rem;
	max-width: 16.5rem;
	flex: 2;
}

.flex.medium {
	min-width: 24rem;
	max-width: 36rem;
	flex: 3;
}

.flex.wide {
	min-width: 30rem;
	max-width: 36rem;
	flex: 5;
}

.flex.wide ul {
	column-count: 3;
	max-width: 75%;
}

.flex.inner {
	border: none;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

/* FORMS */

form {
	margin: 0.5rem auto;
}

.field-required {
	font-weight: bold;
}

.field-required:after {
	content: " (required)";
}

.long-form, .form-field {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 2rem;
}

.long-form {
	flex-direction: column;
}

.long-form .form-field {
	margin: 0.5rem auto;
}

/* first "column"  */
.form-field label {
	min-width: 13rem;
	max-width: 13rem;
	flex: 2;
	text-align: right;
}

/* need a better name for "subfield"; currently tailored for checkbox+label */
.form-field.subfield {
	margin-left: 15rem; /* column 1 width + container's gap */
	gap: 0.5rem;
}
.subfield label {
	text-align: left;
	max-width: fit-content;
}

/* second "column" */
.form-field input, .form-field textarea, .form-field select {
	min-width: 16rem;
	max-width: 40rem;
	flex: 5;
}

/* reset widths */
input[type="checkbox"], .form-field select {
	max-width: max-content;
}
input[type="checkbox"] {
	min-width: max-content;
}

/* MEDIA QUERIES */

/* small screens/large text */
@media (max-width: 35rem) {
	/* ALL PAGES */
	footer img, footer .text {
		max-width: 100%;
	}

	/* VIEW ALL CRITERIA/SELECT AND INDIVIDUAL ENTRY PAGES */
	.container.flex {
		flex-direction: column;
	}
	.flex.thin, .flex.medium, .flex.wide {
		min-width: initial;
	}
	.flex.wide ul {
		column-count: 2;
	}

	/* FORMS */
	.form-field {
		flex-direction: column;
		gap: initial;
	}

	.form-field.subfield {
		display: block;
		margin-left: initial;
	}

	.form-field > label {
		text-align: left;
	}

	.long-form input[type="text"], .long-form textarea {
		min-width: 5rem;
		width: 100%;
	}
}

/* large screens/small text */
/* @media (min-width: 60rem) {} */