:root {
	--dark-green: darkgreen; /* #006400 */
	--dark-red: darkred; /* #8B0000 */
	--light-green: lightgreen; /* #90EE90 */
	--light-red: lightcoral; /* #F08080 */
}

/* ALL PAGES */

body {
	background-color: #ddd;
}

.success {
	background-color: var(--light-green);
	color: var(--dark-green);
	border-color: var(--dark-green);
}

.error {
	background-color: var(--light-red);
	color: var(--dark-red);
}

ul.messages {
	padding-left: 0;
	margin: 0.5rem;
}

ul.messages li {
	list-style: none;
	padding: 0.5rem 1rem;
	border: solid 0.2rem;
	border-radius: 0.5rem;
}

nav {
	text-align: center;
}

nav a {
	display: inline-block;
	width: 7rem;
	text-align: center;
}

/* ON MAIN PAGE */

/* 3 of these */
.cell-wide {
	width: 20%;
}

/* 3 of these */
.cell-narrow {
	width: 10%;
}

.scrollbox {
	overflow: auto;
}

/* ON SUBMIT PAGE */

.form-field {
	margin: 0.5rem auto;
}

label {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	min-width: 30%;
}

input[type="text"], textarea {
	width: 65%;
}

.field-required {
    font-weight: bold;
}

.field-required:after {
    content: " (required)";
}

/* MEDIA QUERIES */

@media (max-width: 35rem) {
	label {
		display: block;
		text-align: left;
	}

	input[type="text"], textarea {
		width: 100%;
	}
}

@media (min-width: 60rem) {
	label {
		min-width: 16%;
	}

	input[type="text"], textarea {
		width: 70%;
	}
}