{% extends "hilichurlian_database/base.html" %}
{% load static %}

{% block content %}
<h2>About</h2>

<p>This website was created and is maintained by a <a href="https://genshin-impact.fandom.com/">Genshin Impact Wiki</a> editor. This website has limitations on how long it can be up and running every month, so in return, the website "sleeps" if no page has been viewed for a while and then takes a few extra seconds to wake up when someone visits the website again.</p>

<p>I created this website half because I believe hiliologists need it and half because I wanted to learn something new (namely, how to deploy a website using Heroku).</p>

<p>To send feedback about this database website, please join <a href="https://discord.com/invite/CVKTBANp">the Genshin Impact Wiki</a>'s Discord server and send a message in the <i>#genshin-languages</i> channel, which is viewable upon self-assigning the Lore role.</p>

{% endblock %}