{% extends "hilichurlian_database/base.html" %}
{% load static %}

{% block content %}
<h2>About</h2>

<p>This website was created and is maintained by a <a href="https://genshin-impact.fandom.com/">Genshin Impact Fandom Wiki</a> editor.</p>

<p>I created this website half because I believe hiliologists need it and half because I wanted to learn something new (namely, how to deploy a website using Heroku).</p>

<p>To send feedback about this database website, please join <a href="https://discord.com/invite/CVKTBANp">the Genshin Impact Wiki's Discord server</a> and send a message in the <i>#genshin-languages</i> channel, which is viewable upon self-assigning the Lore role in the <i>#librarians-rules</i> channel. I promise I don't bite.</p>

<p>Unordered to-do list:</p>
<ul>
	<li>get an actual color scheme</li>
	<li>figure out page structure</li>
	<li>API or something, especially now that words are linked together as exact same variants and likely grammatical variants</li>
	<li>links on individual entry pages</li>
	<li>option to view cells in bigger boxes
		<ul>
			<li>option to view an individual cell in an overlay box or expand the cell or something (fallback: view entire row on its own page)</li>
		</ul>
	</li>
	<li>filter by speaker
		<ul>
			<li>may want to filter by type of speaker (e.g. native speaker vs student)
				<ul>
					<li>may want to search for Jacob Musk, Ella Musk, and Ella Musk's grandfather (possibly Jacob Musk but unconfirmed) at the same time (all/both are dedicated Hilichurlian scholars)</li>
				</ul>
			</li>
			<li>Hilichurls are distinguished from each other when possible, but we'll want to search for all Hilichurl utterances together</li>
			<li>maybe we should distinguish between Hilichurls? e.g. happy ones, unhappy ones; this might be better as a new field</li>
		</ul>
	</li>
	<li>filter by source
		<ul>
			<li>for series of books with multiple volumes, they should be searchable separately and together</li>
		</ul>
	</li>
	<li>add "Related words/sources" aside to results of exact search</li>
	<li>don't think these would be of much help, but may as well also filter by translation sources and words in translations</li>
	<li>add "Viewing results X to Y out of Z total results"</li>
	<li>user-friendly way of specifying page size
		<ul>
			<li>"show all" option (page size is same as number of utterances)</li>
			<li>buttons with sample/preset values</li>
		</ul>
	</li>
	<li>form validation (e.g. pageSize should be a positive integer)</li>
	<li>un-spaghetti the things that are starting to become spaghetti</li>
</ul>

<p>Done:</p>
<ul>
	<li>option to view an entire row on its own page</li>
	<li>new field "version" to show which utterances have been available since which versions of the game (Ella has apparently improved over time, but some of her old dialogue is not updated)</li>
	<li>display lists of all words, speakers, sources; let them link to queries</li>
	<li>text field to specify custom page size</li>
	<li>condensed pagination</li>
	<li>filter by Hilichurlian word
		<ul>
			<li>filter by exact word (e.g. to avoid picking up all instances of <i>mita</i> when looking for just <i>mi</i>)</li>
			<li>filter not by exact word (e.g. to pick up all instances of <i>mimi</i> when looking for <i>mi</i> if so desired); implemented as variants of the same word (e.g. "nya" is the same as "nyaaaa") and likely grammatical variants (e.g. "da" and "dada")</li>
			<li>filter by multiple words (e.g. all utterances with both <i>mosi</i> and <i>mita</i>; any separator other than letters)</li>
		</ul>
	</li>
	<li>filter by source (currently exact URLs only)</li>
	<li>filter by speaker (currently exact speaker only)</li>
</ul>

{% endblock %}