{% extends "hilichurlian_database/base.html" %}
{% load static %}

{% block content %}
<h2>About</h2>

<p>This website was created and is maintained by a <a href="https://genshin-impact.fandom.com/">Genshin Impact Wiki</a> editor. This website has limitations on how long it can be up and running every month, so in return, the website "sleeps" if no page has been viewed for a while and then takes a few extra seconds to wake up when someone visits the website again.</p>

<p>I created this website half because I believe hiliologists need it and half because I wanted to learn something new (namely, how to deploy a website using Heroku).</p>

<p>To send feedback about this database website, please join <a href="https://discord.com/invite/CVKTBANp">the Genshin Impact Wiki's Discord server</a> and send a message in the <i>#genshin-languages</i> channel, which is viewable upon self-assigning the Lore role.</p>

<p>Completely documented instances of Hilichurlian:</p>
<ul>
	<li><a href="https://www.bilibili.com/video/BV1o5411j7hR">Mondstadt Tea Party</a></li>

	<li><a href="https://youtu.be/FHRXP8ceeBU?t=30">Character Demo - "Ganyu: Radiant Dreams"</a></li>

	<li><a href="https://genshin-impact.fandom.com/wiki/Hilichurl_Cultural_Customs">Hilichurl Cultural Customs (Volume 3, the only one with Hilichurlian)</a></li>

	<li><a href="https://genshin-impact.fandom.com/wiki/Hilichurl_Ballad_Selection">Hilichurl Ballad Selection (Volumes 1 and 2)</a></li>

	<li><a href="https://genshin-impact.fandom.com/wiki/Language_Exchange">Language Exchange</a></li>

	<li><a href="https://genshin-impact.fandom.com/wiki/Poetry_Exchange">Poetry Exchange</a></li>

	<li><a href="https://genshin-impact.fandom.com/wiki/Draft_Lines_of_Hilichurlian_Poetry">Draft Lines of Hilichurlian Poetry</a></li>

	<li><a href="https://genshin-impact.fandom.com/wiki/Draft_Hilichurl_Ballads">Draft Hilichurl Ballads</a></li>

	<li><a href="https://genshin-impact.fandom.com/wiki/Ella_Musk">Ella Musk's dialogue</a></li>

	<li><a href="https://genshin-impact.fandom.com/wiki/Venti/Voicelines">Venti/Voicelines ("Something to Share" voiceline)</a></li>

	<li><a href="https://genshin-impact.fandom.com/wiki/Lionfang%27s_Legacy">Lionfang's Legacy</a></li>

	<li><a href="https://genshin-impact.fandom.com/wiki/Raiders_Amidst_Snow_Mist">Raiders Amidst Snow Mist</a></li>

	<li><a href="https://genshin-impact.fandom.com/wiki/Glimmers_of_the_Vigilant_Yaksha">Glimmers of the Vigilant Yaksha</a></li>

	<li><a href="https://genshin-impact.fandom.com/wiki/%22Quiet,_please,_this_is_a_library!%22">"Quiet, please, this is a library!"</a></li>

	<li><a href="https://genshin-impact.fandom.com/wiki/Missive_of_Cloud_and_Fog">Missive of Cloud and Fog ("mi muhe ye")</a></li>

	<li><a href="https://genshin-impact.fandom.com/wiki/Hilichurl_Justice">Hilichurl Justice</a></li>

	<li><a href="https://genshin-impact.fandom.com/wiki/Mutual_Exchange">Mutual Exchange</a></li>

	<li><a href="https://genshin-impact.fandom.com/wiki/Handy_Handbook_of_Hilichurlian">Handy Handbook of Hilichurlian</a></li>
</ul>

<p>Unordered to-do list:</p>
<ul>
	<li>padding/margins (see front page)</li>
	<li>filter by word
		<ul>
			<li>filter not by exact word (e.g. to pick up all instances of <i>mimi</i> when looking for <i>mi</i> if so desired)</li>
			<li>need to associate elongated words with their base word</li>
		</ul>
	</li>
	<li>filter by speaker
		<ul>
			<li>may want to filter by type of speaker (e.g. native speaker vs student)
				<ul>
					<li>may want to search for Jacob Musk, Ella Musk, and Ella Musk's grandfather (possibly Jacob Musk but unconfirmed) at the same time (all/both are dedicated Hilichurlian scholars)</li>
				</ul>
			</li>
			<li>Hilichurls are distinguished from each other when possible, but we'll want to search for all Hilichurl utterances together</li>
			<li>maybe we should distinguish between Hilichurls? e.g. happy ones, unhappy ones; this might be better as a new field</li>
		</ul>
	</li>
	<li>filter by source
		<ul>
			<li>for series of books with multiple volumes, they should be searchable separately and together</li>
		</ul>
	</li>
	<li>don't think these would be of much help, but may as well also filter by translation sources and words in translations</li>
	<li>add "Viewing results X to Y out of Z total results"</li>
	<li>user-friendly way of specifying page size
		<ul>
			<li>"show all" option (page size is same as number of utterances)</li>
			<li>buttons with sample/preset values</li>
		</ul>
	</li>
	<li>option to view cells in bigger boxes
		<ul>
			<li>option to view an entire row on its own page or overlay box or something</li>
			<li>option to view an individual cell in an overlay box or expand the cell or something (fallback: view entire row on its own page)</li>
		</ul>
	</li>
	<li>maybe if the screen is narrow, then the rows and columns swap? not sure if that's a good idea, but my thinking is that all the data for a normal row can fit on a narrow screen if the row is a column instead, and horizontal scrolling will mean looking at what would normally be new rows instead</li>
	<li>new field "version" to show which utterances have been available since which versions of the game (Ella has apparently improved over time, but some of her old dialogue is not updated)</li>
</ul>

<p>Done:</p>
<ul>
	<li>filter by exact word (e.g. to avoid picking up all instances of <i>mita</i> when looking for just <i>mi</i>)</li>
	<li>condensed pagination</li>
	<li>text field to specify custom page size</li>
</ul>

{% endblock %}