{% load static %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hilichurlian Language Database</title>
	<link rel="shortcut icon" href="{% static 'hilichurlian_database/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'hilichurlian_database/style.css' %}">
</head>
<body>
	{% block h1 %}
	<h1>Hilichurlian Language Database</h1>
	{% endblock %}

	<nav>
		<a href="{% url 'hilichurlian_database:index' %}">Home</a>
		<a href="{% url 'hilichurlian_database:about' %}">About</a>
		<a href="{% url 'hilichurlian_database:select' %}">View All Criteria</a>
	</nav>

	<main>
		{% if messages %}{% if message_types.non_search_messages %}
		<section>
			<h2>Information</h2>
			<ul class="messages">
				{% for message in messages %}{% if "searched" not in message.tags %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endif %}{% endfor %}
			</ul>
		</section>
		{% endif %}{% endif %}

		<article>
			{% block content %}
			{% endblock %}
		</article>
	</main>

	<footer>
		<img src="{% static 'hilichurlian_database/hilichurls.png' %}" alt="Three Hilichurls: one sleeping, one chilling, and one sweating while holding a Pyro Slime." />
		<div class="text">
			<p>This site is not affiliated with or endorsed by miHoYo.</p>
			<p>© All rights reserved by miHoYo. Other properties belong to their respective owners.</p>
		</div>
	</footer>
</body>
</html>