{% load static %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hilichurlian Language Database</title>
	<!-- once I have a favicon:
	<link rel="shortcut icon" href="{% static 'hilichurlian_database/favicon.ico' %}">
	-->
	<link rel="stylesheet" type="text/css" href="{% static 'hilichurlian_database/style.css' %}">
</head>
<body>
	{% block h1 %}
	<h1>Hilichurlian Language Database</h1>
	{% endblock %}

	<nav>
		<a href="{% url 'hilichurlian_database:index' %}">Main page</a>
		<a href="{% url 'hilichurlian_database:data_entry' %}">Submit data</a>
	</nav>

	{% if messages %}
	<h2>Information</h2>
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}

	{% block content %}
	{% endblock %}
</body>
</html>