{% load static %}
<!doctype html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hilichurlian Language Database</title>
	<link rel="shortcut icon" href="{% static 'hilichurlian_database/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'hilichurlian_database/style.css' %}">
</head>
<body>
	<header>
		<a href="#main" id="skip-to-main" class="skip-to">Skip to main content</a>
		
		<h1>Hilichurlian Language Database</h1>

		<nav>
			<a href="{% url 'hilichurlian_database:index' %}">Home</a>
			<a href="{% url 'hilichurlian_database:about' %}">About</a>
			<a href="{% url 'hilichurlian_database:select' %}">View All Criteria</a>
		</nav>
	</header>

	<main id="main">
		{% if messages %}{% if message_types.non_search_messages %}
		<section>
			<h2>Information</h2>
			<ul class="messages">
				{% for message in messages %}{% if "searched" not in message.tags %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endif %}{% endfor %}
			</ul>
		</section>
		{% endif %}{% endif %}

		<article>
			{% block content %}
			{% endblock %}
		</article>
	</main>

	<footer>
		<img id="img-three-hilichurls" src="{% static 'hilichurlian_database/hilichurls.png' %}" alt="Three Hilichurls: one sleeping, one chilling, and one sweating while holding a Pyro Slime." class="bordered-image" />
		<div class="text">
			<p>This site is not affiliated with or endorsed by miHoYo.</p>
			<p>© All rights reserved by miHoYo. Other properties belong to their respective owners.</p>
			<div id="donate-container" class="container flex">
				<div>
					<p>Want to help me cover website costs?</p>
					<a href="https://ko-fi.com/solarmist">Donate to me on Ko-fi. <img id="img-ko-fi-cup" src="https://storage.ko-fi.com/cdn/brandasset/kofi_s_logo_nolabel.png" alt="Ko-fi cup" /></a>
				</div>
				<div>
					<img id="img-lumine" src="https://static.wikia.nocookie.net/gensin-impact/images/e/ee/Icon_Emoji_016_Lumine_Will_1_Mora_do%3F.png/revision/latest?cb=20210906043859" alt="Lumine with a tear in one eye sheepishly holding 1 Mora."/>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>