{% extends "hilichurlian_database/base.html" %}
{% load static %}

{% block content %}

{% if entry %}

	<h2>{{ type|capfirst }}: {{ entry }}</h2>

	<div class="container flex flex-center">
	{% for field, value in entry_values.items %}

	{% if field == 'translation' %}<div class="container flex wide invisible-container">{% endif %}{# keeping certain boxes together #}
		
		<section class="flex {% if field == 'context' and value %}medium{% else %}thin{% endif %}">
			<h3>{{ field|capfirst }}</h3>
			{% if value %}
				<p>{{ value }}</p>
				{% if "(" in value %}<p>(Context)</p>{% endif %}
				{% if "[" in value %}<p>(Edited from original indirect translation)</p>{% endif %}
			{% else %}
				<p>(None found)</p>
			{% endif %}
		</section>

	{% if field == 'translation source' %}</div>{% endif %}

	{% endfor %}
	</div>

{% else %}

	<h2>Entry Not Found</h2>

	<p>This was probably something that I made by accident while I was still building the database and later had to delete.</p>
	<p><a href="{% url 'hilichurlian_database:index' %}">Go back home</a></p>

{% endif %}

{% endblock %}