{% extends "hilichurlian_database/base.html" %}
{% load static %}
{% load describe_url %}

{% block content %}

<div class="information">
	<p>Welcome to the Hilichurlian Language Database! This website is a repository for all utterances of the Hilichurlian language as well as any official or "official" translations.</p>
	<p>This website is newly created, and the database is still being filled up. The goal is to have a database full of only official information so that hiliologists can easily perform independent, fresh analyses of the Hilichurlian language.</p>
	<p>More features are on the way!</p>
</div>

<form id="search" action="{% url 'hilichurlian_database:filter_strict' %}">
	<input type="text" placeholder="Search for a specific word" name="search">
	<button type="submit">Search</button>
</form>

<table>
	<tr>
		<th class="cell-wide">
			Sentence or phrase
		</th>
		<th class="cell-narrow">
			Speaker
		</th>
		<th class="cell-wide">
			Translation
		</th>
		<th class="cell-narrow">
			Translation source
		</th>
		<th class="cell-wide">
			Context
		</th>
		<th class="cell-narrow">
			Source
		</th>
	</tr>
	{% for utt in db %}
	<tr class="row-{% cycle 'light' 'lighter' %}">
		<td><div class="long-text">
			{{utt.utterance}}
		</div></td>
		<td>
			{{utt.speaker}}
		</td>
		<td><div class="long-text">
			{{utt.translation}}
		</div></td>
		<td>
			{{utt.translation_source}}
		</td>
		<td><div class="long-text">
			{{utt.context}}
		</div></td>
		<td><div class="long-text">
			<a href="{{utt.source}}">{{utt.source|describe_url}}</a>
		</div></td>
	</tr>
	{% endfor %}
</table>

{% endblock %}