{% extends "hilichurlian_database/base.html" %}
{% load static %}

{% block content %}

<div class="messages information">
	<p>Welcome to the Hilichurlian Language Database! This website is a repository for all utterances of the Hilichurlian language as well as any official or "official" translations.</p>
	<p>This website is newly created, and the database is still being filled up. The goal is to have a database full of only official information so that hiliologists can easily perform independent, fresh analyses of the Hilichurlian language.</p>
	<p>More features are on the way!</p>
</div>

{% include "hilichurlian_database/table.html" %}

{% endblock %}