{% extends "hilichurlian_database/base.html" %}
{% load static %}

{% block content %}
<h2>View All Criteria</h2>
<div class="messages information">
	<p>Click any of the links below to view the corresponding utterances.</p>
	<p>IMPORTANT: There is a good chance that this page will be renamed, because I honestly don't know what good names for this page are.</p>
</div>

Coming soon^(TM)

<h3>All Sources</h3>
<ul>
{% for source in sources %}
<li>{{ source }}</li>
{% endfor %}
</ul>

<h3>All Speakers</h3>
<ul>
{% for speaker in speakers %}
<li>{{ speaker }}</li>
{% endfor %}
</ul>

<h3>All Words</h3>
<ul>
{% for word in words %}
<li>{{ word }}</li>
{% endfor %}
</ul>

{% endblock %}