{% extends "hilichurlian_database/base.html" %}
{% load static %}

{% block content %}
<h2>Submit Data</h2>

<div class="messages information">
	<p>Please note the following:</p>
	<ul>
		<li>All information, including translation information, must be taken directly from the game or other official material.
			<br /><strong>No guesses, no matter how good they are.</strong>
			<br />However, you may make educated guesses about which utterances correspond to provided translations as well as which provided translations are direct translations.</li>
		<li>All information must be from the English localization of Genshin Impact, but notable differences between the English localization and the original Chinese texts may be added as additional notes.</li>
		<li>An "<strong>utterance</strong>" is basically a sentence, including sentence fragments and otherwise not grammatical sentences. Utterances can technically be individual phrases and words if they make up "sentences" by themselves.</li>
		<li><strong>Translations</strong> that are given indirectly (e.g. "It said that its friend knows") may be rephrased to become direct translations with brackets around the words that were changed (e.g. "[My] friend knows").</li>
		<li><strong>Translation sources</strong> are people or written material such as books.</li>
	</ul>
	<p>Data may be cleaned some time after entry.</p>
	<p>This submission page is temporary and will be taken down once the database has been updated with all or nearly all of the Hilichurlian currently in the game.</p>
	<p>I'm hoping everyone who submits something does so in good faith!</p>
</div>

{% for form in forms %}
<form method="POST" action="{% url form.submit_view form.name %}" id="{{ form.name }}-form" class="long-form">
	{% csrf_token %}
	<fieldset>
		<legend>Data entry for a new {{ form.name }}</legend>
		{% for field in form.form_object %}
		<div class="form-field">
			<label class="field-label{% if field.field.required %} field-required{% endif %}" for="id_{{ field.name }}">{{ field.label }}</label>
			{{ field }}
		</div>
		{% endfor %}
		<input type="submit" value="Submit">
	</fieldset>
</form>
{% endfor %}

{% endblock %}