{% load describe_url %}

<form id="search" method="GET" action="{% url 'hilichurlian_database:filter_strict' %}">
	<label for="search-field">Search for a specific word:</label>
	<input type="text" name="search" id="search-field">
	<button type="submit">Search</button>
</form>

<form id="page-size" method="GET" action="{% if word %}{% url 'hilichurlian_database:filter_strict' word %}{% else %}{% url 'hilichurlian_database:view' %}{% endif %}">
	<label for="custom-page-size">Number of data rows per page:</label>
	<input type="text" name="pageSize" id="custom-page-size">
	<button type="submit">Change page size</button>
</form>

{% include "hilichurlian_database/elements/pagination.html" %}

<table>
	<tr>
		<th class="cell-wide">
			Sentence or phrase
		</th>
		<th class="cell-narrow">
			Speaker
		</th>
		<th class="cell-wide">
			Translation
		</th>
		<th class="cell-narrow">
			Translation source
		</th>
		<th class="cell-wide">
			Context
		</th>
		<th class="cell-narrow">
			Source
		</th>
	</tr>
	{% for utt in db_page %}
	<tr class="row-{% cycle 'light' 'lighter' %}">
		<td><div class="long-text">
			{{utt.utterance}}
		</div></td>
		<td>
			{{utt.speaker}}
		</td>
		<td><div class="long-text">
			{{utt.translation}}
		</div></td>
		<td>
			{{utt.translation_source}}
		</td>
		<td><div class="long-text">
			{{utt.context}}
		</div></td>
		<td><div class="long-text">
			<a href="{{utt.source}}">{{utt.source|describe_url}}</a>
		</div></td>
	</tr>
	{% empty %}
	<tr class="row-light"><td colspan="6">No results</td></tr>
	{% endfor %}
</table>

{% include "hilichurlian_database/elements/pagination-bottom.html" %}