{% extends "admin/base_site.html" %}
{% load describe_url %}

{% block content_title %}<h1>Bulk Update ({{ model_name }})</h1>{% endblock %}
{% block content %}

<h2>Objects that will be updated</h2>
<ul>
{% for utt in objects_to_update %}
	<li>"{{ utt }}" by {{ utt.speaker }}
		<ul>
			<li>Source: {{ utt.source|describe_url }}</li>
		</ul>
	</li>
{% empty %}
	<li>No objects selected.</li>
{% endfor %}
</ul>

<h2>Fields to update</h2>
{% if form %}
<form method="POST" action="{% url 'admin:update_multiple_execute' %}">
	{% csrf_token %}
	<input type="hidden" name="ids" value="{{ ids_string }}" />
	<input type="hidden" name="model_name" value="{{ model_name }}" />
	{% for field in form %}
	<fieldset style="margin-top: 2em; margin-bottom: 2em; padding: 1em; border: solid 1px currentColor;">
		<legend>Unify {{ field.name }}?</legend>
		<div>
			<input id="{{ field.name }}-checkbox" type="checkbox" name="{{ field.name }}-checked" value="update" />
			<label for="{{ field.name }}-checkbox">Yes, unify {{ field.name }}</label>
		</div>
		<div>
			<label for="id_speaker">Desired {{ field.name }} value:</label>
			{{ field }}
		</div>
	</fieldset>
	{% endfor %}
	<input type="submit" value="Update">
</form>
{% else %}
Sorry, there are no fields that can be unified for {{ model_name }} objects.
{% endif %}

{% endblock %}